= turbo_frame_tag "#{rabbit.underscore_name}-#{session.uuid}", class: "#{rabbit.underscore_name} rabbit-found hopped", data:{controller: "#{rabbit.underscore_name}", session_uuid: session.uuid} do
    .rabbit-shadow
    = image_tag "rabbits/#{rabbit.underscore_name}.png", class: "rabbit-image"
    = turbo_frame_tag "#{rabbit.underscore_name}-#{session.uuid}-speech", class: "rabbit-speech"
