= turbo_frame_tag "#{rabbit.underscore_name}-#{session.uuid}", class: "#{rabbit.underscore_name} rabbit-found", data:{controller: "rabbit", session_uuid: session.uuid,rabbit: rabbit.underscore_name} do
    .rabbit-shadow
    = image_tag "rabbits/#{rabbit.underscore_name}.png", class: "rabbit-image", alt: "#{rabbit.underscore_name}", data:{action: "click->#rabbit#interact"}
    = turbo_frame_tag "#{rabbit.underscore_name}-#{session.uuid}-speech", class: "rabbit-speech"
// hopped status