= turbo_frame_tag "#{session_rabbit.rabbit.underscore_name}-#{session_rabbit.session.uuid}", class: "#{session_rabbit.rabbit.underscore_name} rabbit-found #{out ? "go-home" : ""}", data:{controller: "rabbit", session_uuid: session_rabbit.session.uuid,rabbit_uuid: session_rabbit.uuid, target: "end.rabbitFound" }, style:"--animation-delay:#{rand(3..25)}s" do
    = turbo_frame_tag "#{session_rabbit.uuid}-#{session_rabbit.session.uuid}-speech", class: "rabbit-speech" do
        - if session_rabbit.session.status != "finished"
            = render partial: "elements/speech_status", locals: {session_rabbit: session_rabbit}
    .rabbit-container
        .rabbit-shadow
        = image_tag "rabbits/#{session_rabbit.rabbit.underscore_name}.png", class: "rabbit-image", alt: "#{session_rabbit.rabbit.underscore_name}"