.speech-bubble{class: classes}
    .speech-chunks
        - chunks.each_with_index do |chunk,index|
            .speech-chunk
                - if chunk.is_a?(String)
                    %span= chunk
                - elsif chunk.is_a?(Array)
                    - chunk.each do |paws|
                        .paws
                            - paws.each_char do |paw|
                                = image_tag "paws/paw_#{paw}.png", class: "paw"
                .chunk-hidder{class: "chunk-#{index}",style: "--nth:#{index}"}
    .speech-answers
        - if answers.present?
            - answers.each do |answer|
                .speech-answer
                    %button{data:{action: "click->rabbit#answerSpeech", answer: answer}}= I18n.t("answer-#{answer}")
        - elsif !no_answer
            .speech-answer
                %button{data:{action: "click->rabbit#answerSpeech", answer: "ok"}}= I18n.t("answer-ok")