.information-container
    .information__title= t(".network")
    .information__content.credit
        .credit-container.horizontal
            - ["linkedin","github","cv"].each do |network|
                .information__item.link
                    = link_to ENV["#{network.upcase}_LINK"], target: "_blank" do
                        = image_tag "networks/#{network}.png", alt: "#{network}"
