#credits{class: "#{ animated ? "animated" : "" }"}
    .title-container.credit-container.span-2
        .title-screen__container.credit-title
            .title-screen__title-container
                .title-screen__title= t("the_ten_rabbits")
            .title-screen__author-container    
                .title-screen__author= t("author")
    .remerciements.credit-container.span-2
        .container-content
            %p= t("remerciements")
    .credit-container.span-1.frame
        = render partial: "elements/credits/session", locals: {session: session}
    .credit-container.span-1.frame
        = render partial: "elements/credits/development"
    .credit-container.span-1.frame
        = render partial: "elements/credits/ui"
    .credit-container.span-1.frame
        = render partial: "elements/credits/network"
    .credit-container.span-2.frame
        = render partial: "elements/credits/survey", locals: {session: session}
