= turbo_frame_tag "home-#{@session.uuid}", class:"home", data: {controller:"responsive dark-mode", sessionUuid: "#{@session&.uuid}"} do
    %h1= t("the_ten_rabbits")

    = render partial: "elements/session_uuid", locals: {uuid: @session&.uuid}
    = button_to t('.continue'), continue_session_path(id: @session&.id)

    - if @bushes.present?
        = render partial: "field", locals: {bushes: @bushes}
    = render partial: "elements/flag", locals: {url: "https://github.com/Mr-Fougere/TheTenRabbits", image: "github"}
    - if @credentials
        = render partial: "elements/remmy", locals: {credentials: @credentials[:remmy]}
        - if @session.language == "rbt"
            = render partial: "elements/larry", locals: { session: @session}
        - if @credentials[:sergie].present?
            = render partial: "elements/sergie"
        %div{data: {controller:"scream", key:@credentials[:steevie][:key], uuid:@credentials[:steevie][:uuid]}}    
        %div{data: {controller:"seek", key:@credentials[:debbie][:key], uuid:@credentials[:debbie][:uuid]}}
