= turbo_frame_tag "home-#{@session.uuid}", class:"home" do
    .configuration
        = render partial: "elements/colored_hint", locals: {session: @session}
        = render partial: "elements/language_select", locals: {session: @session}
    - unless @session.finished?
        = render partial: "elements/title_screen", locals: {session: @session}
        = render partial: "field", locals: {bushes: @bushes}
        = render partial: "elements/carrot_sign"
        - @session.session_rabbits.not_hidden.each do |session_rabbit|
            = render partial: "elements/rabbit_found", locals: {session_rabbit: session_rabbit, out: false}
        - if @session.in_progress?
            - @session.session_rabbits.graphic_hidden.each do |session_rabbit|
                = render partial: "elements/rabbits/#{session_rabbit.rabbit.underscore_name}", locals: {session_rabbit: session_rabbit}
    - else
        = render partial: "elements/credits/show", locals: {session: @session, animated: false}